body {
  background-color: #eee;
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 45pt;
  color: #0443f2;
  width: fit-content;
  margin: 5px auto;
  padding: 25px;
}

h1::after {
  content: '';
  height: 5px;
  width: 0%;
  background-color: #0443f2;
  display: block;
  transition: 0.5s;
  margin: auto;
}

h1:hover::after {
  content: '';
  height: 5px;
  width: 100%;
  background-color: #0443f2;
  display: block;
}

#quote {
  background-color: #aaa;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-size: 20pt;
  font-weight: 500;
  display: block;
  width: fit-content;
  margin: auto;
  padding: 20px;
  border-radius: 30px;
  transition: 0.5s;
}

#quote:hover {
  border-radius: 0px;
}

#content {
  width: fit-content;
  margin: auto;
}

.part_headline {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 25pt;
  color: #004fbb;
  transition: 0.7s;
  width: fit-content;
}

.part_headline::after {
  content: '';
  height: 3px;
  width: 0%;
  background-color: #004fbb;
  display: block;
  transition: 0.5s;
}

.part_headline:hover::after {
  content: '';
  height: 3px;
  width: 100%;
  background-color: #004fbb;
  display: block;
}

.para {
  color: gray;
  transition: 0.35s;
  transition-timing-function: ease-in-out;
}

.para.para:hover {
  color: black;
}

.content {
  width: 1100px;
  margin-left: 15px;
  color: #222;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 15pt;
  font-weight: 500;
  text-align: justify;
  line-height: 50px;
}

#content_2 {
  line-height: 30px;
}

dt {
  display: list-item;
  padding: 10px;
}

dd {
  width: 1100px;
  height: 50px;
  font-size: 12pt;
}

.picture {
  width: fit-content;
  height: fit-content;
  margin-left: inherit;
}

footer {
  border-radius: 15px;
  color: white;
  width: 70%;
  margin: auto auto -10px auto;
  height: 80px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: 40pt;
  font-weight: bold;
  padding-left: 150px;
  padding-top: 25px;
  background-color: darkblue;
  transition: 1s;
}

footer p {
  display: inline;
  font-size: 20pt;
  padding-left: 600px;
}