@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100,122,300,400,500,600;1,100&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #e2e2e2;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: conter;
    padding: 10px 150px;
}

.logo {
    text-decoration: none;
    color: #044040;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a {
    color: #10403B;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500;
    padding-left: 20px;
}

.navigation a:hover {
    color: #BFBFBF;
}

section {
    padding: 100px 90px;

}

.main {
    min-height: 100vh;
    display: flex;
    background: url(image1/p.jpg)no-repeat;
    background-size: 35%;
    background-position: 400px;
}

.main h2 {
    color: #127369;
    font-size: 1.4em;
    font-weight: 500;
}

.main h2 span {
    display: inline-block;
    margin-top: 10px;
    color: #154f49;
    font-size: 3em;
    font-weight: 600;
}

.main h3 {
    color: #127369;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.mainw {
    color: rgb(255, 255, 255);
    background-color: #8AA6A3;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 15px 35px;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 40px;
}